azul=#3F51B5

body
	background-color brey
footer
	background-color azul
	color white
	font-size 0.8em
	padding 3px
	text-align center
	margin 8px 0px 0px 0px
.sublinea
	border-bottom 1px solid azul

#interruptores
	padding 5px 20px 5px 20px
	
.contenedor
	width 90%
	margin 0 auto
	
.text-center
	text-align center;

.md-grid-list
	margin 8px

.gray
	background #f5f5f5

.green
	background #b9f6ca

.yellow
	background #ffff8d

.blue
	background #84ffff

.purple
	background #b388ff

.red
	background #ff8a80

.md-grid-tile
	transition all 400ms ease-out 50ms